/*ALLIANZ STYLING IMPORTS*/
/*ALLIANZ COLOUR PALETTE*/
/*COLOUR STYLES*/
/* 8. CUSTOM LAYOUT & TYPOGRAPHY (Daddy bear)
---------------------------------------------------------------------*/
/*.mainwrap {
	background-color: #ff9100;
}*/
#container,
.container {
  margin: 0 auto;
  max-width: 55em;
  padding-left: 2em;
  padding-right: 2em;
}

.staticsb #container,
.staticsb .container {
  padding-left: 8em;
}

#main-content,
footer > div {
  padding: 1.2em;
}

#main {
  z-index: 100;
  position: relative;
}

.overlaypriority {
  z-index: 10001;
}

#formwrap {
  width: 72%;
  float: left;
}

#content-sidebar-desktop {
  width: 26%;
  padding-bottom: 0.4em;
  clear: none;
  margin-top: 0;
  float: right;
}

#content01 {
  padding: 1.6em;
}

.premium .quoteref {
  font-size: 120%;
  display: block;
  margin-top: 0.3em;
}

.referenceview {
  display: none;
}

/* set the default font sizes */
.tabsnav a {
  font-size: 1.3em;
}

/* responsive show/hide
---------------------------------------------------------------------*/
#content-top-mobile,
#content-sidebar-mobile,
.mobshow,
.qpmob {
  display: none;
}

#content-sidebar-desktop,
#staticpremium,
#topnav,
#tooltip,
.tooltip,
.formlabel img {
  display: block;
}

.mobcut {
  display: inline;
}

/* boxes
---------------------------------------------------------------------*/
/* buttons
---------------------------------------------------------------------*/
.btn {
  font-size: 16px;
  padding: 12px 28px;
}

.btn.small {
  font-size: 14px;
  padding: 8px 16px;
}

/* footer
---------------------------------------------------------------------*/
.footer-links {
  flex-direction: row;
}
.footer-links a {
  margin-left: 16px;
  margin-bottom: 0;
}
.footer-links a:first-of-type {
  margin-left: 0px;
}

@media screen and (max-width: 41em) {
  .footer-links {
    flex-direction: column;
  }
}
/* form
---------------------------------------------------------------------*/
.label,
label {
  padding-left: 24px;
  padding-right: 1em;
  float: right;
  width: auto;
  text-align: right;
  padding-top: 0.3em;
}

.formitem {
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}

.formlabel {
  float: left;
  width: 40%;
  position: relative;
  /*overflow: hidden;*/
}

.input_textbox_with_icon {
  float: left;
  width: 46%;
}

.forminput {
  float: left;
  width: 50%;
}

.forminputDate > select {
  float: left;
  width: 20%;
}

.columnleft {
  float: left;
  width: 45%;
  position: relative;
  overflow: hidden;
}

.columnright {
  float: right;
  width: 45%;
  position: relative;
  overflow: hidden;
}

.errorleft {
  float: right;
  width: 90%;
  position: relative;
  overflow: hidden;
}

.errorright {
  float: right;
  width: 90%;
  position: relative;
  overflow: hidden;
}

.formlabelleft {
  float: left;
  width: 75%;
  position: relative;
  overflow: hidden;
}

.forminputleft {
  float: left;
  width: 20%;
}

.formlabelright {
  float: left;
  width: 75%;
  position: relative;
  overflow: hidden;
}

.forminputright {
  float: left;
  width: 20%;
}

.formlabel img {
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
}

.radiobtn {
  margin-bottom: 0.4em;
}

.note {
  float: right;
  width: 55%;
  padding-right: 5%;
  padding-top: 0.5em;
  line-height: 1.2em;
}

.note2 {
  width: 55%;
  padding-right: 5%;
  padding-top: 0.5em;
  line-height: 1.2em;
}

.error {
  float: right;
  width: 55%;
  padding-right: 5%;
  padding-top: 0.5em;
  line-height: 1.2em;
  color: red;
}

.errormsgleft {
  width: 50%;
  padding-top: 0.5em;
  line-height: 1.2em;
  color: red;
}

.errormsgright {
  float: right;
  width: 50%;
  padding-top: 0.5em;
  line-height: 1.2em;
  color: red;
}

.covererror {
  float: right;
  width: 45%;
  padding-right: 5%;
  padding-top: 0.5em;
  line-height: 1.2em;
  color: red;
}

div.field-validation-valid {
  display: none;
}

/* Added to desplay checkbox controls and messsages in two columns.*/
.noteleft {
  float: left;
  width: 55%;
  padding-left: 5%;
}

.noteright {
  float: right;
  width: 55%;
  padding-right: 5%;
}

#confirmCheckbox.note {
  float: left;
  width: 100%;
  padding: 0;
}

#page2 .formitem .formlabel {
  width: 50%;
}

#page2 .formitem .forminput {
  width: 40%;
}

#page2 .formitem .note {
  width: 47%;
  padding-top: 0.5em;
  padding-right: 3%;
}

#page3 .formitem .note {
  width: 100%;
  padding-right: 0;
}

#SumTerms .formlabel {
  float: left;
  width: 55%;
  padding-right: 4%;
}

#SumTerms .answer {
  margin-top: 0;
}

#SumTerms .formitem .formlabel label {
  padding-left: 0;
  padding-top: 0;
  float: left;
}

#SumTerms .formitem .forminput {
  float: left;
  width: 30%;
}

#SumTerms .formitem .formlabel {
  float: left;
  width: 66%;
  text-align: left;
  padding-right: 4%;
}

.fw .formlabel {
  float: left;
  width: 100%;
  text-align: left;
}

.fw label {
  padding: 0 0 0.4em;
  float: left;
  width: 100%;
  text-align: left;
}

.fw .forminput {
  float: left;
  width: 100%;
}

/* product buttons
---------------------------------------------------------------------*/
ul#productlist li {
  width: 22%;
  margin: 0 3% 3% 0;
}

/* Custom Styles - Allianz
---------------------------------------------------------------------*/
/* header
---------------------------------------------------------------------*/
header {
  margin-bottom: 1.2em;
}

h2.call-us {
  font-weight: normal;
}

.phonenumber {
  font-size: 130%;
}

.hidescreenview {
  display: block;
}

.benefitsview {
  display: none;
}

/* modal
---------------------------------------------------------------------*/
.modal-box {
  padding: 1.4em;
}

/* tab wizard
---------------------------------------------------------------------*/
.tabsnav a {
  text-align: left;
  padding-left: 6px;
}
.tabsnav a:before {
  display: inline-block;
  top: -1px;
  position: relative;
}

/* End Custom Styles - Allianz
---------------------------------------------------------------------*/
/* 9. CUSTOM LAYOUT & TYPOGRAPHY (Mummy bear)
---------------------------------------------------------------------*/
@media screen and (min-width: 30em) and (max-width: 49em) {
  /*.mainwrap {
  	background-color: #000;
  }*/
  /* set the default font sizes */
  .tabsnav a {
    font-size: 1.1em;
  }

  #container,
.container {
    min-width: 10em;
  }

  .formlabel,
.forminput {
    float: left;
    width: 100%;
  }

  .label,
label {
    padding: 0 0 0.4em;
    float: left;
    width: 100%;
    text-align: left;
  }

  .formitem {
    padding-right: 0.7em;
    padding-left: 0.7em;
  }

  .formlabel,
#page2 .formitem .formlabel,
#SumTerms .formmulti .formlabel {
    width: 100%;
    text-align: left;
  }

  .forminput,
#page2 .formitem .forminput,
#SumTerms .formmulti .forminput {
    float: left;
    width: 100%;
  }

  .label,
label {
    float: left;
    width: 90%;
    padding: 0 0 0.4em;
  }

  .formlabel img {
    float: right;
    position: relative;
    top: 0;
  }

  .formmulti .formlabel {
    width: 100%;
  }

  .radiobtn {
    margin-bottom: 0;
  }

  #page2 .formlabel {
    width: 100%;
  }

  #page2 .forminput {
    width: 100%;
  }

  .note,
#page2 .formitem .note {
    float: left;
    width: 100%;
    padding-right: 0;
  }

  #content01 {
    padding: 1.4em;
  }

  .premium .quoteref {
    font-size: 120%;
    display: inline;
  }

  /* Added for putting all the checkbox controls in 1 column */
  .formlabelleft {
    float: left;
    width: 70%;
    position: relative;
    overflow: hidden;
  }

  .forminputleft {
    float: left;
    width: 25%;
  }

  .formlabelright {
    float: left;
    width: 70%;
    position: relative;
    overflow: hidden;
  }

  .forminputright {
    float: left;
    width: 25%;
  }

  .columnleft {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  .columnright {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  .errorleft {
    float: right;
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  .errorright {
    float: right;
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  /* End of Added for putting all the checkbox controls in 1 column */
  /* responsive show/hide
  ---------------------------------------------------------------------*/
}
@media screen and (max-width: 49em) {
  .input_textbox_with_icon {
    float: left;
    width: 92%;
  }

  #formwrap {
    width: 66%;
  }

  #content-sidebar-desktop {
    width: 32%;
  }

  /* Added for putting all the checkbox controls in 1 column */
  .formlabelleft {
    float: left;
    width: 70%;
    position: relative;
    overflow: hidden;
  }

  .forminputleft {
    float: left;
    width: 25%;
  }

  .formlabelright {
    float: left;
    width: 70%;
    position: relative;
    overflow: hidden;
  }

  .forminputright {
    float: left;
    width: 25%;
  }

  .columnleft {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  .columnright {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  .error {
    float: left;
    width: 95%;
  }

  .errorleft {
    float: right;
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  .errorright {
    float: right;
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  .label,
label {
    padding-left: 1em;
  }

  /* End of Added for putting all the checkbox controls in 1 column */
}
@media screen and (max-width: 41em) {
  #container,
.container {
    padding-left: 1.5em;
    padding-right: 1.5em;
    max-width: 30em;
  }

  .staticsb #container,
.staticsb .container {
    padding-left: 1.5em;
  }

  /* Added for putting all the checkbox controls in 1 column */
  .formlabelleft {
    float: left;
    width: 70%;
    position: relative;
    overflow: hidden;
  }

  .forminputleft {
    float: left;
    width: 25%;
  }

  .formlabelright {
    float: left;
    width: 70%;
    position: relative;
    overflow: hidden;
  }

  .forminputright {
    float: left;
    width: 25%;
  }

  .columnleft {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  .columnright {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  .error {
    color: red;
    width: 95%;
  }

  .errorleft {
    float: right;
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  .errorright {
    float: right;
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  .label,
label {
    padding-left: 0;
  }

  /* End of Added for putting all the checkbox controls in 1 column */
  #formwrap {
    width: 100%;
  }

  /* responsive show/hide
  ---------------------------------------------------------------------*/
  #content-sidebar-desktop,
#staticpremium,
.mobcut,
#tooltip,
.tooltip,
.formlabel img {
    display: none;
  }

  #content-top-mobile,
#content-sidebar-mobile {
    display: block;
  }

  .mobshow {
    display: inline;
  }

  #tooltip,
.tooltip {
    margin-left: 200000px;
  }

  /* footer
  ---------------------------------------------------------------------*/
}
/* Custom style to print confirm page
---------------------------------------------------------------------*/
@media print {
  .hidescreenview {
    display: none;
  }

  .hideyourpremium {
    display: none !important;
  }

  .referenceview {
    display: block;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
  }

  .benefitsview {
    display: block;
  }

  .note {
    float: left;
    width: 100%;
    padding-left: 5%;
  }

  .noteprintview {
    list-style: none;
    margin: 0;
    float: right;
    padding-right: 5%;
  }

  .containerview {
    margin-left: -100px;
    margin-right: -180px;
    margin-top: -20px;
  }

  .box {
    border-radius: 0px;
  }

  .paragraphview {
    text-align: justify;
  }

  .page-break {
    page-break-before: always !important;
  }

  .printbreak {
    display: inline;
    height: 10px !important;
  }

  h2.call-us {
    font-family: Verdana, arial, sans-serif;
    font-size: 1em;
    font-weight: normal;
    text-align: left;
  }

  .headertitle {
    line-height: 100px;
    font-weight: normal;
    font-size: 21px;
    vertical-align: baseline;
  }

  .discountmessage {
    display: none;
  }

  .fullquotebenefits ul li {
    padding-left: 0px !important;
    margin: 0px !important;
  }
}
/* browser amends
---------------------------------------------------------------------*/
.ie7 #container,
.ie7 .container,
.ie8 #container,
.ie8 .container {
  width: 48em;
}

.ie7 .primary,
.ie8 .primary {
  padding-left: 1em;
}

#containwrap {
  padding-top: 1em;
}

/* HACK To fix the width error with cookie notification.*/
@media screen and (min-width: 840px) {
  .consent-box p {
    width: 840px;
  }
}
